/*estilos para escuelas de cocina*/
h1 {
    background-color: burlywood;
    color: white;
    text-align: center;
}
h2 ,h3{
    background-color: burlywood;
    color: white;
}
body{
    background-color: #fdfbf1;
}
li::first-letter{
    font-style: italic;
    font-size: 1.25em;
}
dl{
    background-color: #f0e7db;
    border-left: 5px solid burlywood ;
}
ul{
    list-style-type: square;
}
ul ul{
    list-style-type: circle;
}
dt{
    font-variant: small-caps ;
    font-weight: bolder;
}
ol{
    list-style-type: lower-roman;
}